block scripts 
  //- script(defer='' src='/js/table-nav.js') 
  //- script(defer='' src='/js/table-slider.js')
  
include _mixin-reviewCard
              



//TABLE NAV
nav.table-nav.table-nav--blank   
  ul.table-nav__list  
    li.table-nav__item 
      span 
      button.table-nav__link(data-nav='1') Oferta     
    li.table-nav__item 
      span 
      button.table-nav__link(data-nav='2') Wysyłka     
    li.table-nav__item 
      span 
      button.table-nav__link.active(data-nav='3') Płatności     
    li.table-nav__item 
      span 
      button.table-nav__link(data-nav='4') Opinie
//TABLE BODY     
section.table.table--blank
  .table-box--description 
    div(class='table-first tablescroll table table--1 table--active'
      role='region'
      aria-labelledby='honey'
      tabindex='0')
      table#table-first 
        caption Oferta
        thead 
          tr(class='dark')
            th(scope='col') Rodzaj 
            -const jars = honey.jarSizes;
              each jar in jars
                th(scope='col')= jar + ' ml'
           
        tbody
          each honey in allHoney 
             tr 
              td= honey.name
                each price in honey.prices
                  td= price + ' zł'
              
    div(class='table-second tablescroll table table--2'
      role='region'
      aria-labelledby='dispatch'
      tabindex='0')
      table#table-second 
        caption#dispatch Wysyłka
        thead 
          tr(class='dark')
            th(scope='col') Waga 
            th(scope='col') Ilosc sloikow 
            th(scope='col') Ekonomiczna 
            th(scope='col') Priorytet 
        tbody 
          tr 
            td do 2kg
            td 1
            td 30zł
            td 15 zł
          tr 
            td do 5kg
            td 2
            td 20 zł
            td 25 zł
          tr 
            td do 10kg 
            td 3-5
            td 30zł
            td 15 zł
      h3.table-second--info Zamówienia WYŁĄCZNIE na terenie Polski 
      h3.table-second--info  CZAS REALIZACJI: 2 - 5 DNI ROBOCZE + CZAS DOSTAWY
    div(class='table-third tablescroll table table--3'
      role='region'
      aria-labelledby='deposit-info'
      tabindex='0')
      table#table-third 
        caption#deposit-info Płatności
        tr 
          th(class='dark') Uwaga
          td Prosimy dokonywać wpłat po uprzednim kontakcie mailowym lub                 telefonicznym
        tr 
          th(class='dark') Informacja
          td Towar wysyłamy w godzinach od 8 -16
        tr 
          th(class='dark') Nr konta
          td 15154512135156464654151
        tr 
          th(class='dark') Telefon
          td 1234569
    div(class='table-fourth tablescroll table table--4'
      role='region'
      aria-labelledby='dispatch'
      tabindex='0')

      each review,i in honey.reviews

        +reviewCard(review,i)

      .table-fourth__arrows 
        button.table__btn.table__btn--left ←
        button.table__btn.table__btn--right →







