extends base

mixin aboutParagraph(nr, text)
  div(class=`about__paragraph paragraph--${nr}`)
    span.rotate 
    h5(class=`about__info about__info--${nr}`)= text  

mixin theBestInfo(nr, text)
  p(class=`the-best__info info--${nr} hide`)= text

block header
  //- include _mixin-wrapper
  //- +wrapper('shopping') 
  .wrapper--hero
    //NAV
    include _nav
    //MAIN
    main.hero 
      .hero__title-container 
        h1.hero__title.h1_big Pozwól 
          br
          | nam 
          br
          span osłodzić
          br 
          |ci życie.
      h5.hero__intro Mamy dla Ciebie naturalny miód, który starannie zbieramy prosto z naszych pasiek.
      h5.hero__intro Miód, który smakuje jak żaden inny.
      h5.hero__intro Miód tylko od naszych pszczółek.
      h5.hero__intro Po prostu miód z którego jesteśmy dumni.
      a.hero__btn.btn(href='/overview') Kup teraz
  //INFO
  section.info 
    .info__hello 
      h1.content__title witam na stronie pasieki miodek i 
        span zapraszam
    .info__address 
      h2.info__address--name Jan Pszczelarz 
      h4.info__address--city Łąki 23
      h4.info__address--post 30-305 Miody
      h4.info__id--nr  Nr Identyfikacji Weterynaryjnej: 
        span 12345678999
  //ABOUT
  section.about 
    .about__triangle 
    .about__header 
      h1.about__text Trochę o
        span.grape nas 
      .about__image
   
        img(src='/src/images/about-bg.jpg' alt='pancakes with honey')
    .about__main
      +aboutParagraph(1,'Prowadzimy gospodarstwo pszczelarskie od lat w gronie rodzinnym. Obecnie posiadamy około 100 pasiek rozstawionych w kilku miejscach.')
      +aboutParagraph(2,'Stworzyliśmy pasiekę miodek bo wierzymy, że nasz miód to samo zdrowie.')
      +aboutParagraph(3,'Wszystkie produkty, które sprzedajemy pochodzą wyłącznie od naszych pszczół')
      +aboutParagraph(4,'Zapraszam do zapoznania się z naszą ofertą. Polecamy miód wielokwiatowy oraz lipowy miody z których jesteśmy dumni.')
    .about__triangle2
  //THINK_OVER
  section.think_over 
    h1.think_over__text Jeszcze się
      span zastanawiasz?
    .think_over__container
      .think_over__left 
        .think_over__box 
          -const cards = reviews;
            each card, i in cards
              div(class=`think_over__recommend recommend--${i+1} ${i+1 === 1 ? 'recommend--active' : '' }`)
                h4.think_over__recommended= card.review
                p.think_over__recommended--author= card.user.name
        .think_over__dots
         
          -for(var i = 0; i < cards.length && i < 4; i++)

            button(class=`think_over__dot dot--${i+1} ${i+1 === 1 ? 'dot--active' : '' }`  data-tab=`${i+1}`) 
          
      .think_over--right  
        a(href='/overview' class='btn think_over__btn')  Kup Teraz
  //THE-BEST
  section.the-best
    h1.the-best__title Oto co sprawia,
      br 
      | że jesteśmy
      br    
      span najlepsi:
    img(src='/src/images/the-best-bg-medium.jpg' alt='two bees flies over the vessel' class='the-best__img')
        //- srcset='
        //-   ./public/src/images/the-best-bg-small.jpg  576w,
        //-   ./public/src/images/the-best-bg-medium.jpg 768w
        //- '
        //- sizes='(max-width: 576px) 90vw, (max-width: 992px) 60vw, 600px'
    .the-best__box 
      +theBestInfo(1,'Mamy duże doświadczenie w hodowli pszczół. Nasz miód wyróżnia się wysoką jakością i znajduje spore uznanie wsród klientów.')
      +theBestInfo(2,' Kupując u nas masz pewność, że miód pochodzi z naszych lokalnych, czystych terenów')
      +theBestInfo(3,'Nie słodzimy nie poprawiamy nie psujemy. Wszystko odbywa sie w naturalny sposób. Pszczoły wiedzą co dobre!')
  //QUESTIONS
  section.questions 
    h1.questions__header Pytania 
      span ?
    .questions__container 
      .questions__box 
        p.questions__text Masz pytanie? Śmiało - chętnie odpowiemy.
        a.btn.questions__btn(href='/contact' ) Przywitaj się
      .questions__box 
        p.questions__text  Chcesz zobaczyć naszą ofertę? Zapraszamy
        a.btn.questions__btn(href='/overview' ) Oferta
      .questions__box 
        p.questions__text  Skąd jesteśmy? Sprawdź gdzie można nas znaleźć
        a.btn.questions__btn(href='/map' ) Mapa
      .questions__box 
        p.questions__text  Dlaczego warto jeść miód?
        a.btn.questions__btn(href='/aboutHoney' ) O miodzie
  //SCRIPTS
  script(src='js/think_over.js')



    


