extends base

block append head
  script(defer='' src='/js/table-nav.js') 
  script(defer='' src='/js/table-slider.js')
block header
  //- include _mixin-wrapper
  //- +wrapper('shopping') 
  .wrapper--description
      //NAV
      include _mixinNav
      +nav('login2', 'register2', 'white', 'Oferta')
      //HEADER
      main.content.content--description 
        .content__description 
          -const name = honey.name.split(' ');
            h1.content__title= name[0] 
              | 
              span= name[1]
            .content__title-stars 
              each star in [1,2,3,4,5]
              
                .content__star 
                  svg(width="67"
                      height="63"
                      viewBox="0 0 67 63"
                      xmlns="http://www.w3.org/2000/svg"
                      class="star__title")
                    path(class=`star__title--color ${Math.floor(honey.ratingsAverage) >= star ? '' : 'gray'}` 
                        d="M33.5 0L41.2457 23.8389H66.3114L46.0329 38.5722L53.7786 62.4111L33.5 47.6778L13.2214 62.4111L20.9671 38.5722L0.688549 23.8389H25.7543L33.5 0Z")
             
               
            .content__short-info 
              h4= honey.longDescription
            .content__picture 
              .content__picture-frame 
                .content__picture-overlay 
                  img(src=`/src/images/honeys/${honey.image}`
                    alt=`${honey.name}`
                    class="content__picture-img")  
            form(action="#" class="content__form")
              .cap 
                label(for="capacity") Pojemność
                select(class="input-css" name="capacity" id="capacity")
                  each val in honey.jarSizes
                    option(value= val)= val + 'ml'
              .qty 
                label(for="quantity") Ilość
                input(class="input-css"
                  type="number"
                  id="quantity"
                  name="quantity"
                  value="1"
                  min="1"
                  max="10") 
              h5.dispatch czas realizacji: 2-5 dni robocze + czas dostawy
              button.btn.btn--form.btn--submit(type="submit") Do koszyka
      //TABLES 
      include _tables