extends base

block header
  //- include _mixin-wrapper
  //- +wrapper('shopping') 
  .wrapper--shopping
    //NAV
    include _nav
    //HEADER
    include _mixin-header
    +header("Zapraszamy do","zakupów","Z przyjemnością przedstawiamy pełną ofertę naszego sklepu. Szczegółowy opis miodu oraz złożenie zamówiena moliwe po kliknięciu przycisku 'więcej'.")

  //CARDS
  .content__content-box.content__cards 
    .card-container
      each card in honey
        .card 
          .card__header 
            .card__picture-frame 
              .card__picture-overlay 
                img(src=`./src/images/honeys/${card.image}`
                    alt=`${card.name}`
                    class='card__picture-img')
            h3.heading-tertirary
              span= card.name
              
          p.card__description= card.shortDescription
          .card__details 
            .card__data-box 
              .card__data
                img(class='card__icon icon--jar'
                    src='./src/images/icons/jar.svg'
                    alt='jar')
                span=`${card.jarSizes[0]} ml`
              .card__data
                img(class='card__icon'
                    src='./src/images/icons/money.svg'
                    alt='money')
                span=`${card.prices[0]} zł`
              .card__data
                img(class='card__icon icon--jar'
                    src='./src/images/icons/jar.svg'
                    alt='jar')
                span=`${card.jarSizes[1]} ml`
              .card__data
                img(class='card__icon'
                    src='./src/images/icons/money.svg'
                    alt='money')
                span=`${card.prices[1]} zł`
              .card__data
                img(class='card__icon icon--jar'
                    src='./src/images/icons/jar.svg'
                    alt='jar')
                span=`${card.jarSizes[2]} ml`
              .card__data
                img(class='card__icon'
                  src='./src/images/icons/money.svg'
                  alt='money')
                span=`${card.prices[2]} zł`
          .card__stars 
            each star in [1,2,3,4,5]
              .card__star 
                img(src=`./src/images/icons/${Math.floor(card.ratingsAverage) >= star ? 'star' : 'star-gray'}.svg` alt='star')
            //- .card__star 
            //-   img(src='./src/images/icons/star.svg' alt='star')
            //- .card__star.card__star--black
            //-   img(src='./src/images/icons/star.svg' alt='star')
            //- .card__star 
            //-   img(src='./src/images/icons/star.svg' alt='star')
            //- .card__star 
            //-   img(src='./src/images/icons/star.svg' alt='star')

          .card__footer 
            a.btn.btn--details.btn--small(href=`/honey/${card.slug}`) Więcej

  include _footer



