extends base

block content
  .content__content-box.content__cards 
    .card-container
      .card 
        .card__header 
          .card__picture-frame 
            .card__picture-overlay 
              img(src='./src/images/honeys/m-rzepakowy.png'
                  alt='miód rzepakowy'
                  class='card__picture-img')
          h3.heading-tertirary
            span Miód 
            span rzepakowy 
        p.card__description  Miód rzepakowy jest łatwo przyswajalny. Polecany jest osobom z nadciśnieniem oraz z problemami układu trawiennego
        .card__details 
          .card__data-box 
            .card__data
              img(class='card__icon icon--jar'
                  src='./src/images/icons/jar.svg'
                  alt='jar')
              span 900 ml 
            .card__data
              img(class='card__icon'
                  src='./src/images/icons/money.svg'
                  alt='money')
              span 35 zł
            .card__data
              img(class='card__icon icon--jar'
                  src='./src/images/icons/jar.svg'
                  alt='jar')
              span 720 ml 
            .card__data
              img(class='card__icon'
                  src='./src/images/icons/money.svg'
                  alt='money')
              span 30 zł
            .card__data
              img(class='card__icon icon--jar'
                  src='./src/images/icons/jar.svg'
                  alt='jar')
              span 350 ml 
            .card__data
              img(class='card__icon'
                src='./src/images/icons/money.svg'
                alt='money')
              span 20 zł
        .card__stars 
          .card__star 
            img(src='./src/images/icons/star.svg' alt='star')
          .card__star.card__star--black
            img(src='./src/images/icons/star.svg' alt='star')
          .card__star 
            img(src='./src/images/icons/star.svg' alt='star')
          .card__star 
            img(src='./src/images/icons/star.svg' alt='star')
        .card__footer 
          a.btn.btn--details.btn--small(href='description.html') Więcej





  